{%- spaceless -%}

	{%- macro class(post, topic) -%}

		{%- if post.isDeleted == true -%}
			panel-danger
		{%- else -%}
			{%- if post.id and post.topic -%}
				{%- if post.topic.firstPost -%}
					{%- if post.topic.firstPost.id == post.id -%}
						panel-primary
					{%- else -%}
						panel-default
					{%- endif -%}
				{%- else -%}
					panel-default
				{%- endif -%}
			{%- else -%}
				panel-default
			{%- endif -%}
		{% endif %}

	{%- endmacro -%}

	{%- import _self as post_panel -%}
	{%- set panel = post_panel.class(post, post.topic) -%}
    {% set mongoUser = post.createdBy.user %}
    {% if not app.user or not app.user.isInBlackList(mongoUser) %}
	<div class="panel {{ panel }}">
		<div class="panel-body">
			<section class="post-heading">
				<div class="row">
					<div class="col-md-12">
						<div class="media">
							<div class="media-left">
                                {% if mongoUser.avatar is null %}
                                    <img class="media-object photo-profile" src="{{ asset('img/default_ava.jpg') }}" width="50" height="50"/>
                                {% else %}
                                    <img class="media-object photo-profile" src="{{ asset(mongoUser.avatar.path) }}"
                                         width="50" height="50" alt="{{ mongoUser.username }}"/>
                                {% endif %}
							</div>
							<div class="media-body">
                            <a name="post_{{- post.getId -}}"></a>
								{%- include 'JMDMCForumBundle:User:Post/Partial/item_post_head.html.twig' with {'post': post } -%}
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="post-body">
				<hr>
				{%- include 'JMDMCForumBundle:User:Post/Partial/item_post_body.html.twig' with {'post': post } -%}
                {% if jmd_settings.get('show_sign', mongoUser) %}
                    <hr>
                    <small>
                        {{ mongoUser.sign|bbcode_filter('default_filter') }}
                    </small>
                {% endif %}
			</section>
			<section class="post-footer">
				<hr>
					{% if post.id and not post.isDeleted %}
						<div class="col-md-6">
                            <div class="btn-group">
                                <a class="btn btn-icon-only" title="{{ 'link.topic.show'|trans({}, 'JMDMCForumBundle') }}"
                                   data-toggle="tooltip" data-placement="top"
                                   href="{{- path('jmdmc_forum_user_post_show', {'forumName': forumName, 'postId': post.getId }) -}}">
                                    <i class="glyphicon glyphicon-fullscreen"></i>
                                </a>
                                <a class="btn btn-icon-only" href="#post_{{- post.getId -}}">
                                    <i class="glyphicon glyphicon-link"></i>
                                </a>
                            </div>
                        </div>
					{% endif %}
					{%- if is_granted('ROLE_USER') and post.id and (is_granted('ROLE_MODERATOR') or not post.isDeleted) -%}
                        <div class="col-md-6 text-right">
                            <div class="btn-group">
                                {%- if canReplyToTopic(post.getTopic) -%}
                                    <a rel="nofollow" class="btn btn-default" title="{{- 'link.topic.reply' | trans({}, 'JMDMCForumBundle') -}}"
                                       data-toggle="tooltip" data-placement="left"
                                       href="{{- path('jmdmc_forum_user_topic_reply', {'forumName': forumName, 'topicId': post.getTopic.getId }) -}}">
                                        <i class="fa fa-reply"></i>
                                    </a>
                                {%- endif -%}

                                {%- if canEditPost(post) -%}
                                    <a rel="nofollow" id="post_edit[{{- post.getBody |slice(0,24) -}}]"
                                       class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                                       title="{{- 'link.edit' | trans({}, 'JMDMCForumBundle') -}}"
                                       href="{{- path('jmdmc_forum_user_post_edit', {'forumName': forumName, 'postId': post.getId }) -}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                {%- endif -%}

                                {%- if canDeletePost(post) -%}
                                    <a rel="nofollow" class="btn btn-danger"
                                       class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                                       title="{{- 'link.post.delete' | trans({}, 'JMDMCForumBundle') -}}"
                                       href="{{- path('jmdmc_forum_user_post_delete', {'forumName': forumName, 'postId': post.getId }) -}}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                {%- endif -%}

                                {%- if canRestorePost(post) -%}
                                    <a rel="nofollow" class="btn btn-success" title="{{- 'link.post.restore' | trans({}, 'JMDMCForumBundle') -}}"
                                       data-toggle="tooltip" data-placement="top"
                                       href="{{- path('jmdmc_forum_moderator_post_restore', {'forumName': forumName, 'postId': post.getId }) -}}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                {%- endif -%}

                                {%- if canLockPost(post) -%}
                                    <a rel="nofollow" class="btn btn-warning" data-toggle="tooltip" data-placement="top"
                                       data-toggle="tooltip" data-placement="top"
                                       title="{{- 'link.post.lock' | trans({}, 'JMDMCForumBundle') -}}"
                                       href="{{- path('jmdmc_forum_moderator_post_lock', {'forumName': forumName, 'postId': post.getId }) -}}">
                                        <i class="fa fa-lock"></i>
                                    </a>
                                {%- endif -%}

                                {%- if canUnlockPost(post) -%}
                                    <a rel="nofollow" class="btn btn-success" title="{{- 'link.post.unlock' | trans({}, 'JMDMCForumBundle') -}}"
                                       data-toggle="tooltip" data-placement="top"
                                       href="{{- path('jmdmc_forum_moderator_post_unlock', {'forumName': forumName, 'postId': post.getId }) -}}">
                                        <i class="fa fa-lock"></i>
                                    </a>
                                {%- endif -%}
                            </div>
                        </div>
					{%- endif -%}
			</section>
		</div>
	</div>

	<style>
		/*-- Global Selectors --*/
		a {
			color: #47649F;
		}

		body {
			font-family: 'helvetica';
		}

		/*-- Bootstrap Override Style --*/

		/*-- Content Style --*/
		.post-footer-option li {
			float: left;
			margin-right: 50px;
			padding-bottom: 15px;
		}

		.post-footer-option li a {
			color: #AFB4BD;
			font-weight: 500;
			font-size: 1.3rem;
		}

		.photo-profile {
			border: 1px solid #DDD;
		}

		.anchor-username h4 {
			font-weight: bold;
		}

		.anchor-time {
			color: #ADB2BB;
			font-size: 1.2rem;
		}

		.post-footer-comment-wrapper {
			background-color: #F6F7F8;
		}
	</style>
    {% endif %}
{%- endspaceless -%}