{% extends 'JMDMCForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = jmdmc_forum.topic.user.reply.layout_template %}

{%- block title -%}
	{{- 'title.topic.reply' | trans({'%topic_title%': topic.getTitle }, 'JMDMCForumBundle') -}}
{%- endblock title -%}

{%- block sidebar -%}
	{%- spaceless -%}
	{{- parent() -}}
    {%- include 'JMDMCForumBundle:Common:Layout/Sidebar/user_forum.html.twig' -%}
	{%- endspaceless -%}
{%- endblock sidebar -%}

{%- block body_content -%}
	{%- spaceless -%}

	<section class="clearfix">
		{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
		{{ form_start(form, {novalidate: true, action: path('jmdmc_forum_user_topic_reply_process', {'forumName': forumName, 'topicId': topic.id } )}) }}
			<fieldset>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<h4>
							{{- 'title.topic.reply' | trans({}, 'JMDMCForumBundle') -}}
						</h4>
						<h5>
							{{- topic.getTitle -}}
						</h5>
					</div>
				</div>

				{{- form_errors(form) -}}

				{{- form_widget(form) -}}

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<input type="submit" class="btn btn-primary" value="
							{{- 'form.button.topic.reply' | trans({}, 'JMDMCForumBundle') -}}
						" name="submit[post]" id="submit[post]">

					{#
						<input type="submit" class="btn" value="
							{{- 'form.button.preview' | trans({}, 'JMDMCForumBundle') -}}
						" name="submit[preview]">
					#}

						<a class="btn btn-default" href="{{- path('jmdmc_forum_user_topic_show', {'forumName': forumName, 'topicId': topic.id}) -}}">
							{{- 'form.button.cancel' |trans({}, 'JMDMCForumBundle') -}}
						</a>
					</div>
				</div>

			</fieldset>
		</form>
	</section>

    {%- if preview is defined -%}
        {%- if preview is not empty -%}
            {%- include "JMDMCForumBundle:User:Post/Partial/post_preview.html.twig" with {'post': preview} -%}
        {%- endif -%}
    {%- endif -%}

	{%- include 'JMDMCForumBundle:User:Topic/Partial/transcript.html.twig' with {'topic': topic } -%}

	{%- endspaceless -%}
{%- endblock body_content -%}
