{%- spaceless -%}

	{%- set sidebar_categories = board_list(forumName) -%}

	{%- if sidebar_categories |length -%}
		<li>
			<ul class="nav nav-pills nav-stacked">
				{%- for sidebar_category in sidebar_categories -%}
					{%- if sidebar_category.boards |length -%}
						{%- if category is defined and route == 'jmdmc_forum_user_category_show' -%}
							{%- if sidebar_category.id == category.id -%}
								<li class="active">
									<a href="{{- path('jmdmc_forum_user_category_show', {'categoryId': sidebar_category.id, 'forumName': forumName}) -}}"
									 title="{{- sidebar_category.name -}}">
										<i class="glyphicon glyphicon-folder-open"></i>
							{%- else -%}
								<li>
									<a href="{{- path('jmdmc_forum_user_category_show', {'categoryId': sidebar_category.id, 'forumName': forumName}) -}}"
									 title="{{- sidebar_category.name -}}">
										<i class="glyphicon glyphicon-folder-open"></i>
							{%- endif -%}
						{%- else -%}
								<li>
									<a href="{{- path('jmdmc_forum_user_category_show', {'categoryId': sidebar_category.id, 'forumName': forumName}) -}}"
									 title="{{- sidebar_category.name -}}">
										<i class="glyphicon glyphicon-folder-open"></i>
						{%- endif -%}
										{{- sidebar_category.name -}}
									</a>
								</li>

						<li>
							<ul class="nav nav-pills nav-stacked">
								{%- for sidebar_board in sidebar_category.boards -%}
									{%- if board is defined -%}
										{%- if sidebar_board.id == board.id -%}
											<li class="active">
												<a href="{{- path('jmdmc_forum_user_board_show', {'boardId': sidebar_board.id, 'forumName': forumName}) -}}"
												 title="{{- sidebar_board.name -}}">
													<i class="glyphicon glyphicon-folder-open"></i>
										{%- else -%}
											<li>
												<a href="{{- path('jmdmc_forum_user_board_show', {'boardId': sidebar_board.id, 'forumName': forumName}) -}}"
												 title="{{- sidebar_board.name -}}">
													<i class="glyphicon glyphicon-folder-close"></i>
										{%- endif -%}
									{%- else -%}
											<li>
												<a href="{{- path('jmdmc_forum_user_board_show', {'boardId': sidebar_board.id, 'forumName': forumName}) -}}"
												 title="{{- sidebar_board.name -}}">
													<i class="glyphicon glyphicon-folder-close"></i>
									{%- endif -%}
													{{- sidebar_board.name -}}
												</a>
											</li>
								{%- endfor -%}
							</ul>
						</li>
					{%- endif -%}
				{%- endfor -%}
			</ul>
		</li>
	{%- endif -%}

{%- endspaceless -%}
