{% import ':Layout:flash.html.twig' as flash_helper %}

<!DOCTYPE html>

{% block html_tag %}
<html lang="{{ app.request.locale }}">
{% endblock html_tag %}

{% block head %}
    <head>
        <meta charset="{{ _charset }}"/>
        {% block head_style %}
            {# Override this block to add your own files! #}
            {# To use this without less or sass use the base.html.twig template as your base
             # Be sure you understand whats going on: have a look into
             # https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/css-vs-less.md
             #}
        {% endblock head_style %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head_script %}
            {# Overwrite this block to add your own js here, to get them generated into final files
            {% javascripts
                'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
             #}
        {% endblock head_script %}

        <title>{% block title %}Bootstrap{% endblock title %}</title>
        {% block favicon %}
            <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />{% endblock %}
        {% block head_bottom %}
        {% endblock head_bottom %}
    </head>
{% endblock head %}

{% block body_tag %}
<body>
{% endblock body_tag %}

{% block body_start %}
{% endblock body_start %}

{% block body %}
    {% block navbar %}
        <!-- No navbar included here to reduce dependencies, see https://github.com/phiamo/MopaBootstrapSandboxBundle/blob/master/Resources/views/base.html.twig for howto include it -->
    {% endblock navbar %}

{% block container %}
{% block container_div_start %}<div class="{% block container_class %}container{% endblock container_class %}">{% endblock container_div_start %}
    {% block header %}
    {% endblock header %}

{% block content_div_start %}
    <div class="content">{% endblock content_div_start %}
    {% block page_header %}
        <div class="page-header">
            <h1>{% block headline %}Bootstrap{% endblock headline %}</h1>
        </div>
    {% endblock page_header %}

    {% block flashes %}
        {% if app.session.flashbag.peekAll|length > 0 %}
            <div class="row">
                <div class="col-sm-12">
                    {{ flash_helper.session_flash(true) }}
                </div>
            </div>
        {% endif %}
    {% endblock flashes %}

    {% block content_row %}
        <div class="row">
            {% block content %}
                <div class="col-sm-9">
                    {% block content_content %}
                        <strong>Hi</strong>
                    {% endblock content_content %}
                </div>
                <div class="col-sm-3">
                    {% block content_sidebar %}
                        <h2>Sidebar</h2>
                    {% endblock content_sidebar %}
                </div>
            {% endblock content %}
        </div>
    {% endblock content_row %}

{% block content_div_end %}</div>{% endblock content_div_end %}

{% block footer_tag_start %}
    <footer>
{% endblock footer_tag_start %}

    {% block footer %}
    <div class="container">
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                {% block footer_content %}
                {% endblock footer_content %}
            </div>
        </div>
    </div>
    {% endblock footer %}

{% block footer_tag_end %}
    </footer>
{% endblock footer_tag_end %}
{% block container_div_end %}</div><!-- /container -->{% endblock container_div_end %}
{% endblock container %}

    {% block body_end_before_js %}
    {% endblock body_end_before_js %}

{% block foot_script %}
    {# To only use a subset or add more js overwrite and copy paste this block
    To speed up page loads save a copy of jQuery in your project and override this block to include the correct path
    Otherwise the regeneration is done on every load in dev more with use_controller: true
     #}
    {% block foot_script_assetic %}
        {# Please add the javascripts you need in your project #}
    {% endblock foot_script_assetic %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover();
        });
    </script>
{% endblock foot_script %}
{% endblock body %}

{% block body_end %}
{% endblock body_end %}
</body>
</html>
