{% extends ':Layout:_base.html.twig' %}
{% set step = app.request.get('step') %}

{% block content %}
    {% if step == '1' %}
        <form method="post">
            <div class="form-group">
                <label for="username">{{ 'recover.username'|trans({}, 'security') }}</label>
                <input type="text" class="form-control" name="username" value="{{ app.request.get('username') }}" />
            </div>
            <div class="form-group pull-right">
                <button class="btn btn-success" type="submit">{{ 'recover.submit'|trans({}, 'security') }}</button>
            </div>
        </form>
    {% elseif step == '2' %}
        <form method="post">
            <div class="form-group">
                <label for="password">{{ 'recover.password'|trans({}, 'security') }}</label>
                <input type="password" id="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label for="retypePassword">{{ 'registration.retypePassword'|trans({}, 'security') }}</label>
                <input type="password" name="retypePassword" id="retypePassword" class="form-control">
            </div>

            <div class="form-group pull-right">
                <button class="btn btn-success" type="submit">{{ 'recover.save'|trans({}, 'security') }}</button>
            </div>
        </form>
    {% endif %}
{% endblock content %}
