{% extends 'JMDMCForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = jmdmc_forum.post.user.edit.layout_template %}

{%- block title -%}
	{{- 'title.post.edit' | trans({'%post_id%': post.getId, '%topic_title%': post.getTopic.getTitle }, 'JMDMCForumBundle') -}}
{%- endblock title -%}

{%- block sidebar -%}
	{%- spaceless -%}
	{{- parent() -}}
    {%- include 'JMDMCForumBundle:Common:Layout/Sidebar/user_forum.html.twig' -%}
	{%- endspaceless -%}
{%- endblock sidebar -%}

{%- block body_content -%}
    {%- spaceless -%}

	<section class="clearfix">
		{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
		{{ form_start(form, {novalidate: true, action: path('jmdmc_forum_user_post_edit_process', {'forumName': forumName, 'postId': post.id } )}) }}
	        <fieldset>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<h4>
							{{- 'title.post.edit' | trans({'%post_id%': post.getId, '%topic_title%': post.getTopic.getTitle }, 'JMDMCForumBundle') -}}
						</h4>
					</div>
				</div>

				{{- form_errors(form) -}}

				{%- if form.Topic is defined -%}
					{{- form_row(form.Topic.title) -}}
				{%- endif -%}

				{{- form_rest(form) -}}

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
		                <input type="submit" class="btn btn-primary" value="
							{{- 'form.button.save-changes' | trans({}, 'JMDMCForumBundle') -}}
						" name="submit[post]" id="submit[post]">

					{#
						<input type="submit" class="btn" value="
							{{- 'form.button.preview' | trans({}, 'JMDMCForumBundle') -}}
						" name="submit[preview]">
					#}

		                <a class="btn btn-default" href="{{- path('jmdmc_forum_user_topic_show', {'forumName': forumName, 'topicId': post.getTopic.getId}) -}}">
							{{- 'form.button.cancel' |trans({}, 'JMDMCForumBundle') -}}
						</a>
					</div>
	            </div>

	        </fieldset>
	    </form>
	</section>

    {%- if preview is defined -%}
        {%- if preview is not empty -%}
            {%- include "JMDMCForumBundle:User:Post/Partial/post_preview.html.twig" with {'post': preview} -%}
        {%- endif -%}
    {%- endif -%}

    {%- endspaceless -%}
{%- endblock body_content -%}
