{% extends ':Layout:_base.html.twig' %}

{% block content %}
    {% if news|length == 0 %}
        <div class="row text-center">
            <h3>{{ 'news.no_news'|trans({}, 'news') }}</h3>
        </div>
    {% else %}
        {% for item in news %}
            <div class="col-md-12">
                <h3><a href="{{ path('jmdmc_news_view', {'id': item.id}) }}">{{ item.title }}</a><br>
                    <small>{{ 'news.author'|trans({}, 'news') }}: {{ item.user.name }}</small></h3>
                <p>{{ (item.shortContent is null ? item.fullContent : item.shortContent)|bbcode_filter('default_filter') }}</p>
                {#{% if item.createdAt < item.updatedAt %}#}
                    {#<hr class="dashed">#}
                    {#<small>{{ 'news.updated'|trans({}, 'news') }} {{ item.updatedAt|ago }}</small>#}
                {#{% endif %}#}
                <div>
                    <span class="badge">{{ 'news.posted'|trans({}, 'news') }} {{ item.createdAt|ago }}</span>
                    <div class="pull-right">
                        {% for tag in item.tags %}
                            <a href="{{ path('jmdmc_news_list', { 'tag': tag }) }}">
                                <span class="label label-primary">{{ tag }}</span></a>
                        {% endfor %}
                    </div>
                </div>
                <hr />
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block head_style %}
    {{ parent() }}
    <style>
        hr.dashed {
            border: none;
            border-top: 1px dashed #acacac;
        }
    </style>
{% endblock head_style %}
