{%- spaceless -%}
	<header class="row clearfix">
		<div class="col-md-6">
		    <span class="lead" title="{{- topic.getTitle -}}">{{- topic.getTitle|capitalize -}}</span>
		</div>
		<div class="col-md-6 text-right">
		    <span class="label label-default" title="{{- topic.cachedReplyCount -}}">
				{{- 'topic.reply-count-label' |trans({}, 'JMDMCForumBundle') -}}
				{{- topic.cachedReplyCount -}}
			</span>

			&nbsp;

			<span class="label label-default" title="{{- topic.cachedViewCount -}}">
				{{- 'topic.view-count-label' |trans({}, 'JMDMCForumBundle') -}}
				{{- topic.cachedViewCount -}}
			</span>

		    {%- if subscription_count is defined -%}
				&nbsp;
		        <span class="label label-default" title="{{- subscription_count -}}">
					{{- 'topic.subscription-count-label' |trans({}, 'JMDMCForumBundle') -}}
					{{- subscription_count -}}
				</span>
		    {%- endif -%}
		</div>
	</header>

{%- endspaceless -%}
