{%- spaceless -%}

	{%- if topic is defined -%}

		{%- if board is not defined -%}
			{%- set board = topic.getBoard -%}
		{%- endif -%}


		{%- if canReplyToTopic(topic, forum) -%}
		    <a class="btn btn-danger" rel="nofollow"
			 href="{{- path('jmdmc_forum_user_topic_reply', {'forumName': forumName, 'topicId': topic.getId }) -}}">
				<i class="glyphicon glyphicon-comment"></i>&nbsp;
				{{- 'link.topic.reply' | trans({}, 'JMDMCForumBundle') -}}
			</a>
		{%- else -%}
		    <a class="btn btn-danger disabled" rel="nofollow"
			 href="{{- path('jmdmc_forum_user_topic_reply', {'forumName': forumName, 'topicId': topic.getId }) -}}">
				<i class="glyphicon glyphicon-lock"></i>&nbsp;
				{{- 'link.topic.reply' | trans({}, 'JMDMCForumBundle') -}}
			</a>
		{%- endif -%}


		{%- if canSubscribeToTopic(topic, forum, (subscription is defined ? subscription : null)) -%}
			<a class="btn btn-info" href="{{- path('jmdmc_forum_user_subscription_subscribe', {'forumName': forumName, 'topicId': topic.getId }) -}}">
				<i class="glyphicon glyphicon-eye-open"></i>&nbsp;
				{{- 'link.topic.subscribe' | trans({}, 'JMDMCForumBundle') -}}
			</a>
		{%- endif -%}

		{%- if canUnsubscribeFromTopic(topic, forum, (subscription is defined ? subscription : null)) -%}
			<a class="btn btn-info" href="{{- path('jmdmc_forum_user_subscription_unsubscribe', {'forumName': forumName, 'topicId': topic.getId }) -}}">
				<i class="glyphicon glyphicon-eye-close"></i>&nbsp;
				{{- 'link.topic.unsubscribe' | trans({}, 'JMDMCForumBundle') -}}
			</a>
		{%- endif -%}


		{%- if is_granted('ROLE_MODERATOR') -%}
			<div class="btn-group">
				<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="glyphicon glyphicon-wrench"></i>&nbsp;
					{{- 'link.admin.index' |trans({}, 'JMDMCForumBundle') -}}&nbsp;
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">

					{%- if canStickyTopic(topic, forum) -%}
						<li>
							<a href="{{- path('jmdmc_forum_moderator_topic_sticky', {'forumName': forumName, 'topicId': topic.getId }) -}}">
								<i class="glyphicon glyphicon-bullhorn"></i>&nbsp;
								{{- 'link.topic.sticky' |trans({}, 'JMDMCForumBundle') -}}
							</a>
						</li>
					{%- endif -%}

					{%- if canUnstickyTopic(topic, forum) -%}
						<li>
							<a href="{{- path('jmdmc_forum_moderator_topic_unsticky', {'forumName': forumName, 'topicId': topic.getId }) -}}">
								<i class="glyphicon glyphicon-bullhorn"></i>&nbsp;
								{{- 'link.topic.unsticky' |trans({}, 'JMDMCForumBundle') -}}
							</a>
						</li>
					{%- endif -%}

					{%- if canCloseTopic(topic, forum) -%}
						<li>
							<a href="{{- path('jmdmc_forum_moderator_topic_close', {'forumName': forumName, 'topicId': topic.getId }) -}}">
								<i class="glyphicon glyphicon-lock"></i>&nbsp;
								{{- 'link.topic.close' | trans({}, 'JMDMCForumBundle') -}}
							</a>
						</li>
					{%- endif -%}

					{%- if canReopenTopic(topic, forum) -%}
						<li>
							<a href="{{- path('jmdmc_forum_moderator_topic_reopen', {'forumName': forumName, 'topicId': topic.getId }) -}}">
								<i class="glyphicon glyphicon-lock"></i>&nbsp;
								{{- 'link.topic.reopen' | trans({}, 'JMDMCForumBundle') -}}
							</a>
						</li>
					{%- endif -%}

					{%- if canRestoreTopic(topic, forum) -%}
						<li>
							<a href="{{- path('jmdmc_forum_moderator_topic_restore', {'forumName': forumName, 'topicId': topic.getId }) -}}">
								<i class="glyphicon glyphicon-trash"></i>&nbsp;
								{{- 'link.topic.restore' |trans({}, 'JMDMCForumBundle') -}}
							</a>
						</li>
					{%- endif -%}

					{%- if canDeleteTopic(topic, forum) -%}
						<li>
							<a href="{{- path('jmdmc_forum_moderator_topic_delete', {'forumName': forumName, 'topicId': topic.getId }) -}}">
								<i class="glyphicon glyphicon-trash"></i>&nbsp;
								{{- 'link.topic.delete' |trans({}, 'JMDMCForumBundle') -}}
							</a>
						</li>
					{%- endif -%}

					{%- if canTopicChangeBoard(topic, forum) -%}
						<li>
							<a href="{{- path('jmdmc_forum_moderator_topic_change_board', {'forumName': forumName, 'topicId': topic.getId }) -}}">
								<i class="glyphicon glyphicon-move"></i>&nbsp;
								{{- 'link.topic.change_board' | trans({}, 'JMDMCForumBundle') -}}
							</a>
						</li>
					{%- endif -%}

				</ul>
			</div>

		{%- endif -%}

	{%- endif -%}

{%- endspaceless -%}
