{%- spaceless -%}

	<div class="forum-topic-transcript">
		<h3>{{- 'topic.transcript' |trans({}, 'JMDMCForumBundle') -}}</h3>

		<div class="well pre-scrollable">
			{%- for key, post in topic.getPosts -%}

				{%- if post.isDeleted == false or is_granted('ROLE_MODERATOR') -%}

					<div class="col-md-12">
						<article class="row panel panel-{%- if post.isDeleted == false or is_granted('ROLE_MODERATOR') -%} default {% else -%} danger {% endif -%}
						clearfix" data-snip="{{- post.getBody |slice(0,24) -}}" {%- if post.id %} id="post_{{- post.getId -}}"{% endif %}>

						    <header class="panel-heading">
								{%- if post.getCreatedBy -%}
							        {{- 'post.posted-by' |trans({}, 'JMDMCForumBundle') |raw -}}
									{{- post.getCreatedBy.username -}}

							        &nbsp;&#183;

								{%- endif -%}

						        <span class="timestamper" title="{{- post.getCreatedDate |date('Y-m-d H:i:s T Z') -}}">
						            {{- post.getCreatedDate |date(jmdmc_forum.item_post.created_datetime_format) -}}
						        </span>
							</header>

							<div class="panel-body">
								<p>
									{{ post.getBody }}
								</p>
							</div>

						</article>
					</div>

				{%- endif -%}
			{%- endfor -%}
		</div>
	</div>

{%- endspaceless -%}
