{% extends ':UserProfile:profile_layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block profile_content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <button class="btn btn-primary" type="submit">{{ 'user.form.submit'|trans({}, 'profile') }}</button>
    </div>
    {{ form_end(form) }}
{% endblock profile_content %}
