{%- spaceless -%}

	<span title="{{- category.name -}}" class="lead">
		<a href="{{- path('jmdmc_forum_user_category_show', {'forumName': category.forum.name, 'categoryId': category.id }) -}}" title="{{- category.name -}}">
			{{- category.name -}}
		</a>
	</span>

	<section class="clearfix">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th class="center" style="width:32px;">&nbsp;</th>
					<th class="left"><small>{{- 'board.th' | trans({}, 'JMDMCForumBundle') -}}</small></th>
					<th class="center text-center" style="width:60px;"><small>{{- 'board.topic-count-th' | trans({}, 'JMDMCForumBundle') -}}</small></th>
					<th class="center text-center" style="width:60px;"><small>{{- 'board.post-count-th' | trans({}, 'JMDMCForumBundle') -}}</small></th>
					<th class="center text-center" style="width:170px;"><small>{{- 'board.last-post-th' | trans({}, 'JMDMCForumBundle') -}}</small></th>
				</tr>
			</thead>
			<tbody>
				{%- for row, board in category.boards -%}
					{%- include "JMDMCForumBundle:User:Category/Partial/item_board.html.twig" -%}
				{%- else -%}
					<tr>
						<td class="text-center" colspan="5" style="width:100%;">
							{{- 'category.no-boards' | trans({}, 'JMDMCForumBundle') -}}
						</td>
					</tr>
				{%- endfor -%}
			</tbody>
		</table>
	</section>

	<br>
{%- endspaceless -%}
